h2, h3, h4, h5, h6, p, a, li, blockquote{
  padding-top: 20px;
  font-family: 'Verdana', sans-serif;
}

img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.comp{
  border-radius: 20px;
}

header{
    margin: auto;
    text-align: center;
    width: 300px;
    margin-top: 10px;
    border: 10px solid black;
    border-radius: 20px;
}

body {
  color: #000;
  background: rgb(133, 224, 255);
  font-size: 16px;
  line-height: 24px;
  padding-left: 50px;
}

.hobbies {
  width: 45%;
  float: left;
  display: inline-block;
  padding-left: 120px;

}

.family{
  width: 45%;
  display: inline-block;
  float: left;
  clear: right;




}
