body {
  color: #000;
  background: rgb(133, 224, 255);
  font-size: 16px;
  line-height: 24px;
  padding-left: 50px;
}


h1, h2, h3, h4, h5, h6, p, a, li, blockquote{
  padding-top: 20px;
  font-family: 'Verdana', sans-serif;
}

blockquote{
  font-style: italic;
  font-size: 24px;
}

img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
}

header{
  text-align: center;
}
