/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/

@import url('reset.css');
@import url('reset.css');
/******************************************



/******************************************
/* LAYOUT
/*******************************************/


header {

  padding: 40px;
  background: #00FF00;
  border-bottom: 1px solid #DCDCDC;
}


section{

  padding: 40px;
  background: #63DCEF;
  border-bottom: 1px solid #DCDCDC;
}

footer {
  padding: 40px;
  background: #EF63DC;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
