/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: black;
     font-size: 12px;
     line-height: 1.5;
     font-family: 'Lato', sans-serif;

   }
.body{
  padding-left: 60px;
  padding-top: 57px;
  padding-right: 60px;
  width:1194px;
  height:1862px;
}

/*.preview{
  background: url(../fashion_blog_part2.png);
  background-repeat: no-repeat;
  width:1194px;
  height:1862px;*/


}



header{
  position: relative;


}

.heading {
  position: relative;

}

header h1 a{
  position: relative;
  font-size: 55px;
  color: #DE3B30;
  clear: both;
  font-weight: ;
  text-decoration: none;
  font-weight: 300;
}
header h1, header h2 {
  : 50%;
  height: 60px;
  margin: 0;
  padding: 0;
  display: inline;

}
header h2 {
  position: relative;
  font-size: 30px;
  color: gray;
  font-weight: 300;
  padding-left: 18px;
}

.article {
  float:left;
  position: relative;
  padding-top: 0px;
  padding-right: 50px;
  border-bottom: 1px solid #DDDDDD;
  clear: left;
  width: 720px;
}

article h3 {
  position: relative;
  color: rgb(204, 204, 204);
  font-size: 35px;
  float:left;
  font-weight: 300;
  margin-bottom:  5.8px;

}

article h2 a{
  float: left;
  clear: both;
  text-decoration: none;
  color:black;
  font-size: 35px;
  font-weight: 330;
}

article p{
  padding-top: 5;
  padding-bottom:30px;
  clear: both;
  float:left;
  font-size:18px ;
  color: black;
  margin-bottom: 0;
  width:720px;

}

.firstcharacter {


  float: left;
  clear: both;
  color: #DDDDDD;
  font-size: 105px;
  font-weight: 300;
    width: 0.7em;
    line-height: 80%;
}


article h4{
  position: relative;
  float: right;


}
h4 a{
  color:#DE3B30;
  font-weight: bold;
  text-decoration: none;
  float: right;
  font-size:18px;
}

.article img{
  max-width: 720px;
  float:left;
  clear:both;

  padding-bottom: 10px;
}

.top{
  width:1080px;
}
.top a{
  display: block;
  color: white;
  text-align: center;
  background-color: black;
  margin: 1px;
  width: 177.5px;
  height: 65px;
  font-size: 25px;
  vertical-align: middle;
  line-height: 65px;
  text-decoration: none;
  float: left;

}

.bottom{
  float: left;
  padding-top: 60px;
  padding-left:5px;
}
.bottom a{
  display:inline-block;
  color: #DE3B30;
  margin: 1px;

  float: left;

  color: #DE3B30;
  text-align: center;
  margin: 1px;
  border-left: 1px solid gray;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom:2px;
  font-size: 20px;
  line-height: 15px;
  font-weight: 300;}


.bottom a:first-child{
  border-left:none;
}

.sidebar{

  margin-top: 128px;
  clear: left;
  float: right;
  width: 305px;
  font-size: 18px;
  color: #969696;
}
.sidebar h4{
  margin: 0;
  margin-bottom: 27px;
  color: #888888;
  font-weight: 700;
}

.sidebar p{
  line-height: 1.5;
  padding-bottom: 5px;


}


.more{
  color:#DE3B30;
  font-size: 50px;
  padding-bottom: 20px;
  height: auto;

}

.sidebar img{
  margin-top: 30px;
  padding-top: 25px;
  padding-bottom:25px;
  padding-left: 0px;
  border-bottom: 1px solid #EAEAEA;
  border-top: 1px solid #EAEAEA;
  border-width: auto;
  margin-left: auto;
  margin-right: auto;

}

.popular{
  padding-top: 18px;
  padding-left: -4px;

}
.popular h4{
  color: #888888;
  font-weight: 700;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.popular li a{
  color:#DE3B30;
  text-decoration: none;
  font-weight: 300;

}
footer{
  float: left;
  position: relative;
  padding-top: 10px;
  clear: both;
  color: #BBBBBB;
  font-size: 18px;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
body {
	width: 100%;
  height:100%;
	margin: 0;
  padding: 0;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
