/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: black;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Lato', sans-serif;
   }
.body{
  padding-left: 40px;
}
.preview{
  background: url(../fashion_blog_part2.png);
  background-repeat: no-repreat;
}


header{
  position: relative;
}

.heading {
  position: relative;

}

h1 b{
  position: relative;
  float: left;
  font-size: 40px;
  color: red;
  font-weight: 300;
  clear: both;
}

header h2 {
  position:absolute;
  font-size: 20px;
  color: gray;
  left: 225px;
  top: 22px;

}



h3 {
  color: rgb(204, 204, 204);
  font-size: 40px;
}

h4 b{
  color:red;
}

img{

}

nav  a{
  color: rgb(234, 234, 234);


}
nav b{
  color: red;
}
/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
body {
	width: 100%;
  height:100%;
	margin: 0;
  padding: 0;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
